.about-div {
    display: flex;
    flex-direction: column;
    height: auto;
    clip-path: polygon(0 80px, 100% 0%, 100% 100%, 0 100%);
    background: $pastel-gradient;        
    // background-image: url('/public/images/dots-and-lines.svg');
    background-attachment: fixed;
    padding-left: calc($margin * 2);
    padding-right: calc($margin * 2);
    padding-bottom: calc($margin / 2 + 80px);
    padding-top: calc($margin / 2 + 80px);

    // inset shadow

    .about-header {
        font-size: 5rem;
        margin-top: calc($margin / 2.5);
        margin-bottom: calc($margin / 1.25);
        color: $primary-light;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        @media (max-width: 1028px) {
            font-size: 3rem;
        }

        @media (max-width: 768px) {
            font-size: 2rem;
        }

        @media (max-width: 400px) {
            font-size: 1.5rem;
        }
    }

    .about-text {
        font-size: 1.5rem;
        font-family: 'Inter', sans-serif;
        width: 100%;

        
        .about-images {
            margin: 40px  0;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .image {
                width: fit-content;
                height: auto;
                text-align: center;
                font-size: 9rem;
                transition: transform .5s ease, filter .5s ease;
                user-select: none;

                @media (max-width: 1428px) {
                    font-size: 7rem;
                }

                @media (max-width: 1028px) {
                    font-size: 6rem;
                }

                @media (max-width: 768px) {
                    font-size: 5rem;
                }

                @media (max-width: 400px) {
                    font-size: 4rem;
                }

                &:hover {
                    transform: scale(1.1);
                    filter: brightness(1.1);
                }
            }
        }
    }
}