.footer {
    display: flex;
    min-height: 410px;
    height: fit-content;
    flex-direction: column;
    clip-path: polygon(0 80px, 100% 0%, 100% 100%, 0 100%);
    background-color: darken($primary-dark, 2%);        
    padding-top: 160px;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .contact-links {
        width: 60%;
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;

        img {
            width: 7vw;
            height: auto;
        }


    }
}