.type-writer {
    display: inline;
    height: 1.2ch;
    line-height: 1.2ch;
    
    .hidden-text {
        position:fixed;
        width: inherit;
        line-height: fit-content;
    }

    .cursor {
        position: relative;
        width: 1ch;
        top: -0.02ch;
        left: .15ch;
        font-family: 'Inter', sans-serif;
    }
}