.type-writer {
    display: inline;
    min-height: 1ch;
    line-height: fit-content;
    
    .hidden-text {
        position:fixed;
        width: inherit;
        line-height: fit-content;
    }

    .cursor {
        position: relative;
        width: 1ch;
        top: -0.02ch;
        left: .15ch;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
    }
}