@import 'variables';
@import '../components/components';
@import '../pages/pages';

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/LeagueSpartan-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-VariableFont_slnt,wght.woff') format('woff');
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $primary_dark;
    color: $primary-light;
    margin: 0;
    text-shadow: 0 0 5px #00000050;
    overflow-x: hidden;
    overflow-y: scroll;
 }

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: fixed;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $primary-light;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: lighten($primary-light, 10%);
}

/* Gradients */
.super-blue-gradient-text > * {
    /* Define the gradient */
    background: linear-gradient(to bottom right, lighten($super-blue, 30%) 0%, $super-blue 30%, $purple 70%, lighten($purple, 10%) 100%);

    /* Clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make the text transparent to show the background */
    color: transparent !important;
}

/* Effects */
.fade-in {
    transition: opacity .35s ease;
    opacity: 1;
}

.fade-out {
    transition: opacity .35s ease;
    opacity: 0;
}

.slide-in {
    transition: transform .35s ease;
    transform: translateX(0);
}

.slide-out {
    transition: transform .35s ease;
    transform: translateX(-100vw);
}

// Reusable elements
.back-button-div {
    margin-bottom: 20px;

    .back-button {
        background-color: $super-blue;
        color: $primary-light;
        border: none;
        font-size: .7rem;
        font-family: 'Montserrat', sans-serif;
        text-shadow: none !important;
        transition: transform .05s ease;
        padding: 6px;
        border-radius: 10px;
        box-shadow:  4px 4px 7px #00000025,
                -4px -4px 7px #ffffff18;
        cursor: pointer;
        
        &:hover {
            color: darken($super-blue, 40%);
            transform: scale(1.02);
        }
        
        &:active {
            transform: scale(.95);
        }
    }
}